<script type="text/javascript">
	function SpecController($scope) {
		//Update form when ite is loaded
		$scope.$watch('Variant', function(val) {
			if (!val) return;
		});

		//Update form when variable is changed
		$scope.$watch('Variant.Specs.Name.Value', function(val) {
			if (!val) return;
		});
	}
</script>
<div ng-controller="SpecController">
	<section class="specform-default">
	    <!-- BREADCRUMB!-->
	    <productnav editvariant="true" product="Product" variant="Variant" />
	    <!-- SPEC FORM IMAGE PANEL!-->
	    <div class="col-md-4" ng-hide="!Variant.PreviewUrl">
	        <div class="panel panel-default">
				<loadingindicator ng-show="loadingImage" />
	            <div class="panel-body">
					<figure>
	                    <img class="product-image-large img-responsive" ng-src="{{Variant.PreviewUrl}}" imageonload />
	                </figure>
	            </div>
	        </div>
	    </div>
	    <div ng-class="{'col-xs-12': !Variant.PreviewUrl, 'col-md-7 col-md-offset-1': Variant.PreviewUrl }">
	        <!-- SPEC FORM PANEL! -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="panel-title"><span ng-show="Variant.PreviewUrl">{{'Edit' | r | xlat}} </span>{{Variant.ExternalID || 'Create New' | xlat}}</h3>
	            </div>
	            <div class="panel-body">
	                <div id="451_list_vspec" ng-show="true">
	                    <div class="form-group">
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Name" customfield="Variant.Specs.Name"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Title 1" customfield="Variant.Specs.Title1"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Title 2" customfield="Variant.Specs.Title2"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Address 1" customfield="Variant.Specs.Address1"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Address 2" customfield="Variant.Specs.Address2"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4 col-lg-3': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="City" customfield="Variant.Specs.City"></octextfield>
					</div>
					<div ng-class="{'col-md-2': isInPath('new'),'col-md-6': isInPath('edit')}">
						<octextfield label="State" hideprefix="true" customfield="Variant.Specs.State"></octextfield>
					</div>
					<div ng-class="{'col-md-2': isInPath('new'),'col-md-6': isInPath('edit')}">
						<octextfield label="Zip Code" hideprefix="true" customfield="Variant.Specs.Zip"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-8': isInPath('edit')}">
						<ocmaskfield label="Phone" customfield='Variant.Specs.Phone1' mask='999.999.9999'></ocmaskfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-8': isInPath('edit')}">
						<ocmaskfield label="Fax" customfield='Variant.Specs.Phone2' mask='999.999.9999'></ocmaskfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-8': isInPath('edit')}">
						<ocmaskfield label="Mobile" customfield='Variant.Specs.Phone3' mask='999.999.9999'></ocmaskfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Email" customfield="Variant.Specs.Email"></octextfield>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'col-md-4': isInPath('new'),'col-md-12': isInPath('edit')}">
						<octextfield label="Website" customfield="Variant.Specs.Web"></octextfield>
					</div>
				</div>
	                    </div>
	                </div>
	            </div>
				
				 <div class="panel-footer">
					<button ng-show="Variant.InteropID" class="btn btn-default" type="button" ng-click="saveasnew(true)"><i ng-show="variantErrors.length > 0" class="fa fa-warning"> </i>{{'Save As New' | r | xlat}}</button>
	                <button class="btn btn-primary pull-right" type="submit" ng-click="save(true)"><i ng-show="variantErrors.length > 0" class="fa fa-warning"> </i>{{'Save' | r | xlat}}</button>
				</div>
				
				<div class="navbar-fixed-bottom">
					<div class="view-error-message" ng-show="showVariantErrors && variantErrors.length">
						<ul class="alert-warning">
							<li class="text-center">
								<span class="badge">
									<i class="fa fa-exclamation-circle fa-inverse"></i>
									{{variantErrors.length}}
								</span>
							</li>
							<li class="text-center">
								<ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
									<li class="alert-warning" ng-repeat="e in variantErrors">{{e | xlat}}</li>								
								</ul>
							</li>
							<li class="text-center">
								<a ng-show="variantErrors.length > 1">
									<i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
									<i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
	        </div>
	    </div>
	</section>
<div>
