<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-primary">
            {{('Checkout' | r) + ' ' + ('Summary' | r) | xlat}}
        </h3>
    </div>
    <div class="panel-body">
        <loadingindicator ng-show="couponLoadingIndicator" title="{{'Please wait while we verify and apply your promotion code' | r | xlat}}" />
        <loadingindicator ng-show="couponRemoveIndicator" title="{{'Please wait while we remove your promotion code' | r | xlat}}" />
        <orderconfirmationmessage />
        <p>
            <span class="text-info">{{'Items' | r | xlat}}</span>
            <span class="pull-right">{{currentOrder.LineItems.length}}</span>
        </p>
        <p ng-if="!(user.Permissions.contains('HidePricing'))">
            <span class="text-info">{{'Subtotal' | r | xlat}}</span>
            <span class="pull-right">{{currentOrder.Subtotal | culturecurrency}}</span>
        </p>
        <p ng-if="!(user.Permissions.contains('HidePricing'))">
            <span class="text-info">{{('Shipping' | r) + ' ' + ('Costs' | r) | xlat}}</span>
            <span class="pull-right">{{currentOrder.ShippingCost | culturecurrency}}</span>
        </p>
        <p ng-if="!(user.Permissions.contains('HidePricing'))">
            <span class="text-info">{{'Tax' | r | xlat}}</span>
            <span class="pull-right">{{currentOrder.TaxCost || 0 | culturecurrency}}</span>
        </p>
        <div ng-show="user.Permissions.contains('ViewPromotions')">
            <p ng-show="currentOrder.Coupon">
                <span class="text-info">{{currentOrder.Coupon.Label}}</span>
                <span class="pull-right">{{currentOrder.Coupon.OrderDiscount * -1 | culturecurrency}}</span>
            </p>
        </div>
        <hr/>
        <h4 ng-if="!(user.Permissions.contains('HidePricing'))">
            <strong>{{'Total' | r | xlat}}</strong>
            <span class="text-success pull-right"><strong>{{currentOrder.Total | culturecurrency}}</strong></span>
        </h4>
        <p class="text-info text-left" ng-if="user.Company.TaxMethod != 'NoTax' && !user.Permissions.contains('HidePricing')">{{('Shipping' | r) + ', handling and tax may be added to this subtotal.' | xlat}}</p>
    </div>
    <div class="panel-footer">
        <div class="view-form-icon" ng-show="user.Permissions.contains('SendOrderNotificationToOthers') && !(cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid)" >
            <div class="form-group">
                <label ng-show="currentOrder.ExternalOrderDetailRecipients">{{('Email' | r) + ' ' + ('Notification' | r) | xlat}}</label>
                <input class="form-control" ng-disabled="cart_shipping.$invalid || cart_order.$invalid || cart_billing.$invalid" type="email" ng-model="currentOrder.ExternalOrderDetailRecipients" placeholder="{{('Email' | r) + ' ' +  ('Address' | r) | xlat}}" autocomplete="off" />
                <i class="fa fa-envelope-o"></i>
                <span class="help-block text-left"><small>{{'Provide an email address if you would like to receive ' + ('Notification' | r) + 's concerning this order.' | r | xlat}}</small></span>
            </div>
        </div>
        <button class="btn btn-default" redirect="/security">
            <span class="fa fa-info-circle"></span> {{'Concerned About Security?' | r | xlat}}
        </button>
    </div>
</div>